<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
    <div class="container-fluid">
        <a href="/embarques" class="navbar-brand">FP Servicios</a>

        <!-- Boton para el menu movil -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
            aria-controls="menu" aria-expanded="false" aria-label="Mostrar / Ocultar Menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu de navegacion -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav  me-auto mb-2 mb-lg-0">

                <li class="nav-item"><a href="/transportes" class="nav-link">Transportes</a></li>
                <li class="nav-item"><a href="/camiones" class="nav-link">Camiones</a></li>
                <li class="nav-item"><a href="/ramplas" class="nav-link">Ramplas</a></li>
                <li class="nav-item"><a href="/frigorificos" class="nav-link">Frigoríficos</a></li>
                <li class="nav-item"><a href="/conductores" class="nav-link">Conductores</a></li>
                <li class="nav-item"><a href="/embarques" class="nav-link">Embarques</a></li>
                
            </ul>

            <ul class="navbar-nav me-5">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" id="dropdown-menu">
                        Información y Reportes
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                        <li><a href="/reporte_mensual" class="dropdown-item ">Embarques Mensuales</a></li>
                        <li><a href="/reporte_anual" class="dropdown-item">Embarques Anuales</a></li>

                    </ul>

            </ul>

        </div>
    </div>
</nav>

